<section class="card text-bg-dark mb-3 mx-auto align-middle" 
         style="max-width: 48rem;">

    {{!TITLE & USER}}
    <div class="card-header">
        <a href="/post/{{id}}">
            <h3 class="text-decoration-none text-light">{{title}}</h3>
        </a>
        <p class="card-subtitle mb-2 text-muted">
            {{#if user}}
            Posted by
            {{user.username}}
            on
            {{/if}}
                <time>
                    {{showdate createdAt}}
                </time>
        </p>        
    </div>

    {{!CONTENT}}
    <div class="card-body text-bg-light">
        <h5 class="card-text fw-light">{{content}}</h5>
    </div>

    {{!COMMENT}}
    {{#each comments as |comment|}}
    <div>
        <p>{{comment_content}}</p>
        <p class="card-subtitle mb-2 text-muted">
            {{!USERNAME NOT SHOWING}}
            {{#if user}}
            concole.log({{user.username}})
            on
            {{/if}}
                <time>
                    {{showdate comment.createdAt}}
                </time>
        </p>  
    </div>
    {{/each}}
 
</section>