<div id="createpost-card">
    <h2 class="page-title">
        {{#if edit_mode}}
        Update Post
        {{else}}Add a New Post</h2>
        {{/if}}

    <form id="createPost">
        <div class="mb-3">
            <label for="title">Title:</label>
            <input type="text" class="form-input" id="post-title"
              value="{{title}}"/>   
        </div>
        <div class="mb-3">
            <label for="text">Content:</label>
            <input type="form" class="form-input" id="post-content" rows="6"
              value="{{content}}"/>
        </div>
        <div>
            <button><type="submit" class="btn btn-warning" href="/dashboard">
                {{#if edit_mode}}Save 
                {{else}}Create</button>
                {{/if}}
        </div>
    </form>
</div>

{{#if edit_mode}}
<script src="/js/updatePost.js"></script>
{{else}}
<script src="/js/createPost.js"></script>
{{/if}}

